.update-title {
  font-size : 20px;
  margin-top : 300px;
  margin-left : 500px;
  font-weight : bold;
  background-color: rgba(255,255,255,0.5);
  border:rgba(255,255,255,0.5);
}

.title {
  font-size : 50px;
  text-align : center;
  background-color : #fff;
  border-color : #fff;
  margin-left : 600px;
  font-weight : bold;
}

.description {
  font-size : 20px;
  margin-top : 20px;
  text-align : center;
  font-weight : bold;
}

.tabs {
  font-size : 30px;
  margin-left : 800px;
  margin-top : 100px;
  text-align : center;
  font-weight : bold;
  color : white;
  padding: 15px 32px;
  border-radius: 50px;
}

.reaction {
  float : right;
}
