body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    margin: 0 auto;
    width: 100%;
    padding: 10% 0;
    /* box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.137); */
}

.container-inner {
    margin: 0 auto;
    width: 40%;
}

.sign-in-input {
    margin: 0 auto;
    width: 100%;
}

.sign-in-input .id-input,
.pw-input {
    margin: 3% auto;
    padding: 1.5%;
    width: 97.4%;
    font-size: 30px;
}

.sign-btn {
    margin: 0% auto;
    width: 100%;
}

.sign-btn .sign-in-btn {
    margin: 3% auto;
    width: 100%;
    padding: 2.5%;
    font-size: 30px;
    background-color: #000;
    color: #fff;

}

.sign-in-btn:hover {
    background-color: #8AFF53;
}

.sign-btn .sign-up-btn {
    margin: 0 auto;
    width: 100%;
    padding: 2.5%;
    font-size: 30px;
    background-color: #000;
    color: #fff;
}

.sign-up-btn:hover {
    background-color: rgb(255, 145, 0);
}
