<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BarkHistory - Post_List</title>

  <link rel="stylesheet" href="\css\common.css">
  <link rel="stylesheet" href="\css\home.css">
  <link rel="stylesheet" href="\css\navigation.css">
  <link rel="stylesheet" href="\css\reaction.css">
  <link rel="stylesheet" href="\css\swiper.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
  <div class="navigation">
    <div class="tab">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="btn_1" OnClick="location.href='/board/1'">연애</div>
          <div class="btn_2" OnClick="location.href='/board/2'">10대</div>
          <div class="btn_3" OnClick="location.href='/board/3'">캠퍼스</div>
          <div class="btn_4" OnClick="location.href='/board/4'">회사</div>
          <div class="btn_5" OnClick="location.href='/board/5'">알바</div>
        </div>
      </div>
    </div>
    <div class="option">
     
      <button type="button" onclick="location.href='/mypage'"><img src="../src/setting.png" alt="설정"></button>
    </div>
  </div>

  <div class="container">
    <div class="container-inner">


      <div class="hot">
        <a href="/board/1">
        <div class="hot-post">HOT!! 실시간 인기글 </div>
        <div class="hot-post-title">애인 앞에서 방구 뀜</div>


        <div class="de">차 안에서 영화 보는 거 뭐라하지 갑자기 생각이 안나네 아무튼 차에서 영화 같이봤는데 방구가 너무 나올 거 같은거야... 코로나라 창문도 못 열고 그냥 괜히 영화 보다가
          뜬금없이 나 잠깐 바람 좀,,~ 하고서 나왔엌ㅋㅋㅋ..... 당연히 눈치 챘겠지? </div>
<br><br>
        
          <div class="hot-post-roll">연애로 이동!</div>
        </a>
      </div>
    </div>
  </div>
  </div>
  </div>