<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarkHistory - Detail page</title>

    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="write.css">
    <link rel="stylesheet" href="navigation.css">
    <link rel="stylesheet" href="reaction.css">
    <link rel="stylesheet" href="swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <div class="navigation">
        <div class="tab">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide tab04"><a href="#">캠퍼스</a></div>
                    <div class="swiper-slide tab01"><a href="#">연애</a></div>
                    <div class="swiper-slide tab02"><a href="#">회사</a></div>
                    <div class="swiper-slide tab03"><a href="#">알바</a></div>
                    <div class="swiper-slide tab05"><a href="#">일상</a></div>
                    <div class="swiper-slide tab06"><a href="#">10대</a></div>
                    <div class="swiper-slide tab07"><a href="#">기타</a></div>
                </div>
            </div>
        </div>
        <div class="option">
            <button type="button" onclick="alert('검색버튼 클릭')"><img src="search.png" alt="검색"></button>
            <button type="button" onclick="alert('설정 클릭')"><img src="setting.png" alt="설정"></button>
        </div>
    </div>
    <div class="container">
        <div class="container-inner">
            <p> <span style="color:green; font-size:2.5em; font-weight: bold;">연애,</span>&nbsp;
                <span style="color:black; font-size:2.5em; font-weight: bold"> 나만큼 추하고 수치스러운 사람 있어?</span>
                <input type="submit" value="글쓰기" class="submit_btn">
        </div>

        <br>
        <div class="post_list">
            <div class="post_list_set">
                <div class="post_list_title">
                    <table width=1200>
                        <tr id="contentThTr">
                            <td>
                                <h3>제목입니다.</h3>
                            </td>
                            <td >별명</td>
                            <td rowspan="5"width=850></td>
                            <td><img src="C:\Users\82102\Desktop\barkhistory\sad.png" width=50 height=50></td>
                        </tr>
                    </table>
                </div>
                <div class="post_list_content">
                    <p>
                        본문 내용 나 오늘 학교에서 똥쌌다. 어떡하지 울고싶다. 창피해 죽겠다!!!!!! 무슨 말로 채워야될지 모르겠어!!! 누가 나 좀
                        살려줘!! 무슨 말을 써야되지 ?!아아아아아아아
                    </p>
                </div>
            </div>
            <div class="post_list_set">
                <div class="post_list_title">
                    <table width=1200>
                        <tr id="contentThTr">
                            <td>
                                <h3>제목입니다.</h3>
                            </td>
                            <td >별명</td>
                            <td rowspan="4"width=850></td>
                            <td><img src="C:\Users\82102\Desktop\barkhistory\sad.png" width=50 height=50></td>
                        </tr>
                    </table width=1200>
                </div>
                <div class="post_list_content">
                    <p>
                        본문 내용 나 오늘 학교에서 똥쌌다. 어떡하지 울고싶다. 창피해 죽겠다!!!!!! 무슨 말로 채워야될지 모르겠어!!! 누가 나 좀
                        살려줘!! 무슨 말을 써야되지 ?!아아아아아아아
                    </p>
                </div>
            </div>
            <div class="post_list_set">
                <div class="post_list_title">
                    <table width=1200>
                        <tr id="contentThTr">
                            <td>
                                <h3>제목입니다.</h3>
                            </td>
                            <td >별명</td>
                            <td rowspan="4"width=850></td>
                            <td><img src="C:\Users\82102\Desktop\barkhistory\sad.png" width=50 height=50></td>
                        </tr>
                    </table>
                </div>
                <div class="post_list_content">
                    <p>
                        본문 내용 나 오늘 학교에서 똥쌌다. 어떡하지 울고싶다. 창피해 죽겠다!!!!!! 무슨 말로 채워야될지 모르겠어!!! 누가 나 좀
                        살려줘!! 무슨 말을 써야되지 ?!아아아아아아아
                    </p>
                </div>
            </div>
            <div class="post_list_set">
                <div class="post_list_title">
                    <table width=1200>
                        <tr id="contentThTr">
                            <td>
                                <h3>제목입니다.</h3>
                            </td>
                            <td >별명</td>
                            <td rowspan="4"width=850></td>
                            <td><img src="C:\Users\82102\Desktop\barkhistory\sad.png" width=50 height=50></td>
                        </tr>
                    </table>
                </div>
                <div class="post_list_content">
                    <p>
                        본문 내용 나 오늘 학교에서 똥쌌다. 어떡하지 울고싶다. 창피해 죽겠다!!!!!! 무슨 말로 채워야될지 모르겠어!!! 누가 나 좀
                        살려줘!! 무슨 말을 써야되지 ?!아아아아아아아
                    </p>
                </div>
            </div>
            <li>
                <div class="paging_btn">
                    <div>◀</div>
                    <div><b>1</b></div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>▶</div>
                </div>
            </li>
            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <script src="swiper.js"></script>
            <!-- Initialize Swiper -->
</body>

</html>