body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.137);
}

.container-inner {
    width: 1080px;
    margin: 0 auto;
}

.update-header {
    display: flex;
    justify-content: space-between;
}

.update-header .update-title {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
}

.update-header button {
    position: absolute;
    right: 0;
}

div.update-header span.update-header__stuff a:nth-child(2) {
    margin-right: 20px;
    margin-left: 10px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 18px;
    margin-top: 20px;
}

.comment-container {
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
}
.comment-box-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
div.comment-box-top__info > span:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

div.comment-box-top__stuff > a:nth-child(2) {
    margin-left: 10px;
}
.comment-box__yellow {
    background-color: yellow;
    width: 1080px;
    margin: 0 auto 20px auto;
    padding: 70px;
    border-radius: 30px;
}

.comment-box__blue {
    background-color: #69C0FF;
    width: 1080px;
    margin: 0 auto 20px auto;
    padding: 70px;
    border-radius: 30px;
}

.comment-box__pink {
    background-color: #FF5B5B;
    width: 1080px;
    margin: 0 auto 20px auto;
    padding: 70px;
    border-radius: 30px;
}

.comment-box p {
    font-size: 18px;
}

.comment-box {
    width: 1080px;
    margin: 0 auto 20px auto;
    padding: 70px;
    border-radius: 30px;
    border: 1px solid black;
}
body > div.comment-container > div > input{
    width: 95%;
    border: none;
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 10px;
    min-height: 50px;
    padding: 0 15px;
}

body > div.container > div > div.update-header > span.update-header__stuff {
    display: flex;
    margin-left: 70%;
}

#comment-box__setBgColor > div > div.comment-box-top__stuff {
    display: flex;
}

#comment-box__setBgColor > div > div.comment-box-top__stuff > a
,body > div.container > div > div.update-header > span.update-header__stuff > a
,body > div.container > div > div.update-header > span.update-header__stuff > form > input[type=submit] {
    margin-right: 10px;
}