body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    margin: 0 auto;
    width: 100%;
    padding: 4% 0 2% 0;
}

.eraser-button {
    margin: 0 auto;
    width: 100%;    
}

.eraser-title {
    width: 55%;
    margin: 0 auto;
    padding: 1%;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}

.eraser-date {
    width: 55%;
    margin: 0 auto;
    padding: 1%;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}

.eraser-description {
    width: 55%;
    margin: 0 auto;
    padding: 1%;
    font-size: 20px;
    line-height: 150%;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}
