.navigation {
    height: 50px;
    width: 1500px;
    margin: 0 auto;
    padding: 20px 0;
}

.site-title {
    width: 250px;
    margin-top: 0.7%;
    float: left;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.tab {
    width: 1000px;
    height: 100%;
    float: left;
}

.option {
    width: 170px;
    float: left;
    margin-left: 30px;
}

.option button {
    margin-left: 15px;
}

.navigation .swiper-slide {
    border-radius: 50px;
}

.navigation .swiper-slide-active.tab01 {
    background-color: #ACACAC;
}

.navigation .swiper-slide-active.tab01 a {
    color: black;
}

.navigation .swiper-slide-active.tab02 {
    background-color: #ACACAC;
}

.navigation .swiper-slide-active.tab02 a {
    color: black;
}

.navigation .swiper-slide-active.tab03 {
    background-color: #ACACAC;
}

.navigation .swiper-slide-active.tab03 a {
    color: black;
}

.navigation .swiper-slide-active.tab04 {
    background-color: #ACACAC;
}

.navigation .swiper-slide-active.tab04 a {
    color: black;
}
