.reaction-swiper {
    height: 50px;
    width: auto;
    margin: 0 auto;
    padding: 20px 0;
}

.reaction-swiper .swiper-slide-action {
    background-color: #fff;
}

.reaction-swiper .swiper-slide-action img {
    width: 110%;
}

.reaction {
    width: 800px;
    overflow: hidden;
    margin: 50px auto 0 auto;
}

.reaction-title {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    float: left;
}

.reaction-swiper {
    width: 430px;
    float: left;
    margin: 0;
    padding: 0;
}

.plus-icon {
    margin: 9px 0 9px 50px;
}

.reaction-modal {
    background: #fff;
    width: 500px;
    border-radius: 50px 50px 0 0;
    position: fixed;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.28);
}

.reaction-modal.modal-open {
    bottom: 0;
}

.reaction-modal button {
    flex: 1 1 auto;
    padding: 20px;
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(43, 62, 126);
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}